@font-face {
  font-family: 'Source Han Serif TC';
  src: url('@/assets/fonts/NotoSerifTC-Black.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-Bold.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-ExtraBold.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-ExtraLight.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-Light.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-Medium.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-Regular.ttf') format('truetype'),
       url('@/assets/fonts/NotoSerifTC-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Source Han Serif TC", "思源宋體 TC", "Source Han Serif",
    serif;
  color: #333;
  background-color: #fff;
  letter-spacing: 0.08em !important;
}
span{
  letter-spacing: 0.08em !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}
#app{
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 button {
      appearance: none;
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      font: inherit;
      color: inherit;
      text-align: inherit;
      line-height: inherit;
      cursor: pointer;
    }

    body {
      margin: 0;
      font-family: "Source Han Serif TC", "思源宋體 TC", "Source Han Serif",
        serif;
      color: #333;
      background-color: #fff;
    }